@use './variables' as *;

.about-main {
  background-color: $primarycolor;
  color: $highlightcolor;
  cursor: url('../assets/mouse.png'), auto;
  .navigation-container{
    border-bottom: solid $secondarycolor 1px;
  }
  .navigation{
    border-right: solid $secondarycolor 1px;
    border-left: solid $secondarycolor 1px; 
  }
  .hamburger .line {
    background-color: $secondarycolor;
  }
}

.about {
  padding: 100px 0;
  h2 {
    border-bottom: solid $secondarycolor 1px;
  }
}

.about-img {
  position: fixed;
  width: 30%;
}

.about-text {
  margin-bottom: 50px;
  margin-left: 500px;
  padding: 10px 20px;
  border-left: solid $highlightcolor 0.5px;
  h2 {
    margin: 0 0 45px;
  }
  p {
    font-size: 17px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04px;
    color: $highlightcolor;
    &.pending-skills {
      margin-top: 0;
      color: rgb(158, 155, 155);
    }
  }
}

.tech-stack-icons {
  display: flex;
  flex-wrap: wrap;
  gap:5px;
  margin-top: 15px;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 30px;
    flex: 1;

    i {
      font-size: 3.0rem;
      color: $highlightcolor;
    }

    img {
      width: 60px;
      height: 60px;
      flex: 1;
    }

    p {
      margin-top: 15px;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.tech-stack {
  margin-top: 25px;

  h3 {
    font-size: clamp(3.7rem, 3.3625rem + 1.8vw, 5.5rem);
    color: $highlightcolor;
  }
} 