@use './variables' as *;

html {
    background-color: $highlightcolor;
    font-size: 125%;
    overflow-x: hidden;
}

body {
    color: $primarycolor;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.wrapper-portfolio{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 1px solid $primarycolor;
}

.portfolio .portfolio-nav {
    a:hover,
    a:active {
    color: $accentcolor;
    }
}
.social-link {
    a:hover,
    a:active {
        color: $accentcolor;
    }
}
a:hover,
a:active {
    color: $accentcolor;
}
.box{
    transform: translateX(400%);
    transition: transform 0.8s ease;
}
.box:nth-of-type(odd){
    transform: translateX(-400%);
}
.box.show{
    transform: translateX(0);
}