@use './variables' as *;

.contact-section {
    background-color: $primarycolor;
    color: $tertiarycolor;
    width: 100%;
  
    h2 {
      padding-top: 25px;
      border-bottom: $tertiarycolor 1px solid ;
    }

    .form-text {
      display: flex;
      padding: 25px;
      gap: 50px;
  
      span {
            font-family: $headerfont;
            font-style: normal;
            font-size: clamp(1.25rem, 1.0742rem + 0.9375vw, 2.1875rem);
            color: $tertiarycolor;
        }
  
      p {
            font-family: $featurefont;
            color: $secondarycolor;
            align-self: center;
            font-size: clamp(1.125rem, 0.9258rem + 1.0625vw, 2.1875rem);            
            line-height: 55px;
            letter-spacing: -0.84px;
        }
    }
  
    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: $featurefont;


        input, textarea, button {
            padding: 20px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 2px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: white;
        }

        button {
            position: relative;
        }

        button:before {
        content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            opacity: 0;
        }

        button:hover:before {
            opacity: 1;
        }
    }
}
  