@media (max-width: 1020px){
   
    html{
        margin: 0px;
        
    }
    header{
        height: auto;
        .intro-section{
            margin: 100px 15px;
        }
    }
    h1{
        line-height: 34px;
    }
    .wrapper-portfolio {
        width: 90%;
    }
    .tech-stack-icons{
        text-align: center;
    }

    .portfolio-container-bottom-text {
        p{
            font-size:12px;
        }

    }

    .contact-section{
        

        .form-text{
           
            p{
                margin-bottom: 35px;
                line-height: normal;
            }
            span{
                line-height: normal;
            }
    
        }
    }
}

@media (max-width: 900px){
    .contact-section{
        .form-text{
            display: block;
           
        }
    }   
}


@media (max-width: 700px){
    .social-link {
        position:fixed;
        height: 20vh;
        top: 8vh;
        right: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        z-index: 3;
        background: rgba(131, 128, 128, 0.42);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        border: 1px solid rgba(101, 98, 98, 0.21);
        transform: translate(190%);
        transition: transform 0.4s ease-in;
    }
    .nav-active{
        transform: translate(0%);
        transition: transform 0.4s ease-in;
    }
    .social-link a{
        transition: transform 0.4s ease-in;
        opacity: 0;
    }
    .social-link a {
        color: white;
    }
    
    .hamburger {
        display: block;
    }
    
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .hamburger .line {
        transition: all 0.3s ease;
    }  
    .hamburger.toggle .line1 {
        transform: rotate(45deg) translate(6px, 6px);
    }
      
    .hamburger.toggle .line3 {
        transform: rotate(-45deg) translate(6px, -6px);
    }
      
    .hamburger.toggle .line2 {
        opacity: 0;
        height: 2.5px;
    }

    .intro-section {
        .blurry {
            height: 200%;
        } 
    }
}

@media (max-width: 973px){
   .about-img{
        position:relative;
        margin: 0 auto;
        width: 45%;
   }
   .about-text{
        margin-left: 0px;
   }
}