@use './variables' as *;

.intro-section p {
    font-family:$bodyfont;
}
   
h1{
    font-family: $headerfont;
    font-size: clamp(1.375rem, 0.8594rem + 2.75vw, 4.125rem);
    line-height: 75px;
    font-weight: 100;
    letter-spacing: -0.84px;
}

h2 {
    font-family:$headerfont;
    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: 50px;
    font-weight: 300;
}

h3 {
    
    font-family:$headerfont;
    color: #484848;
    text-align: left;
    font-size: clamp(0.75rem, 0.6211rem + 0.6875vw, 1.4375rem);
}

h4{
    font-family: $headerfont;
    letter-spacing: -0.28px;
    line-height: 23.4px;
    font-size: 24px;
}

p {
    font-family:$bodyfont;
    font-size: clamp(0.75rem, 0.6914rem + 0.3125vw, 1.0625rem);
    letter-spacing: -0.03px;
    color:$primarycolor;
    font-weight: 400;
}

a{
    font-family: $featurefont;
    font-size: 15px;
    letter-spacing: 0.1px;
    text-decoration:none;
    font-weight: 900;
    color: $secondarycolor;
}

.portfolio-container{
    p{
       line-height:22.7833px; 
       letter-spacing: -0.277px;
    }
}

span{
    font-family: "maiola, serif";
    font-style: italic;
    font-weight: 600;  
}
p{
    span{
        font-size: 25px;
    }
}