
@font-face {
    font-family: 'Medium';
    src: url('../fonts/SF-Pro-Display-Medium.otf') ;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/SF-Pro-Display-Regular.otf') ;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Body';
    src: url('../fonts/SF-Pro-Text-Regular.otf') ;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

$headerfont: "Medium", sans-serif;
$featurefont: 'Regular', sans-serif;
$bodyfont: 'Body', sans-serif;
$primarycolor: #1d1d1f;
$secondarycolor: #989393;
$tertiarycolor:#ccc;
$highlightcolor: #F1F1F1;
$accentcolor: #f00b66;


