html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Regular";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Body";
  src: url("../fonts/SF-Pro-Text-Regular.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  background-color: #F1F1F1;
  font-size: 125%;
  overflow-x: hidden;
}

body {
  color: #1d1d1f;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.wrapper-portfolio {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #1d1d1f;
}

.portfolio .portfolio-nav a:hover,
.portfolio .portfolio-nav a:active {
  color: #f00b66;
}

.social-link a:hover,
.social-link a:active {
  color: #f00b66;
}

a:hover,
a:active {
  color: #f00b66;
}

.box {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.box:nth-of-type(odd) {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}

.box.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-main {
  background-color: #1d1d1f;
  color: #F1F1F1;
  cursor: url("../assets/mouse.png"), auto;
}
.about-main .navigation-container {
  border-bottom: solid #989393 1px;
}
.about-main .navigation {
  border-right: solid #989393 1px;
  border-left: solid #989393 1px;
}
.about-main .hamburger .line {
  background-color: #989393;
}

.about {
  padding: 100px 0;
}
.about h2 {
  border-bottom: solid #989393 1px;
}

.about-img {
  position: fixed;
  width: 30%;
}

.about-text {
  margin-bottom: 50px;
  margin-left: 500px;
  padding: 10px 20px;
  border-left: solid #F1F1F1 0.5px;
}
.about-text h2 {
  margin: 0 0 45px;
}
.about-text p {
  font-size: 17px;
  line-height: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04px;
  color: #F1F1F1;
}
.about-text p.pending-skills {
  margin-top: 0;
  color: rgb(158, 155, 155);
}

.tech-stack-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
}
.tech-stack-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tech-stack-icons li i {
  font-size: 3rem;
  color: #F1F1F1;
}
.tech-stack-icons li img {
  width: 60px;
  height: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tech-stack-icons li p {
  margin-top: 15px;
  font-weight: 700;
  font-size: 15px;
}

.tech-stack {
  margin-top: 25px;
}
.tech-stack h3 {
  font-size: clamp(3.7rem, 3.3625rem + 1.8vw, 5.5rem);
  color: #F1F1F1;
}

.intro-section p {
  font-family: "Body", sans-serif;
}

h1 {
  font-family: "Medium", sans-serif;
  font-size: clamp(1.375rem, 0.8594rem + 2.75vw, 4.125rem);
  line-height: 72px;
  font-weight: 100;
  letter-spacing: -0.84px;
}

h2 {
  font-family: "Medium", sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 50px;
  font-weight: 300;
}

h3 {
  font-family: "Medium", sans-serif;
  color: #484848;
  text-align: left;
  font-size: clamp(0.75rem, 0.6211rem + 0.6875vw, 1.4375rem);
}

h4 {
  font-family: "Medium", sans-serif;
  letter-spacing: -0.28px;
  line-height: 23.4px;
  font-size: 24px;
}

p {
  font-family: "Body", sans-serif;
  font-size: clamp(0.75rem, 0.6914rem + 0.3125vw, 1.0625rem);
  letter-spacing: -0.03px;
  color: #1d1d1f;
  font-weight: 400;
}

a {
  font-family: "Regular", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  text-decoration: none;
  font-weight: 900;
  color: #989393;
}

.portfolio-container p {
  line-height: 22.7833px;
  letter-spacing: -0.277px;
}

span {
  font-family: "maiola, serif";
  font-style: italic;
  font-weight: 600;
}

p span {
  font-size: 25px;
}

header {
  height: 700px;
}
header .wrapper {
  border-right: solid #1d1d1f 1px;
  border-left: solid #1d1d1f 1px;
}
header .intro-section {
  margin: 125px;
}
header .intro-section h1 {
  margin-bottom: 65px;
}
header .intro-section p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.34px;
}

.logo-image {
  width: 30px;
}

.navigation-container {
  border-bottom: solid #1d1d1f 1px;
  padding-bottom: 10px;
}
.navigation-container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  line-height: 35px;
}
.navigation-container .navigation a {
  margin-right: 5px;
}

.intro-section {
  position: relative;
}
.intro-section .blurry {
  position: absolute;
  top: -170px;
  right: 0px;
  width: 100%;
  height: 300%;
  z-index: -1;
}

.hamburger .line {
  width: 30px;
  height: 2.5px;
  margin-bottom: 6px;
  background-color: #1d1d1f;
}

.hamburger .line3 {
  margin-bottom: 0px;
}

.hamburger {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  display: none;
  padding-right: 20px;
}

.portfolio {
  padding: 50px 25px;
}
.portfolio .image-container {
  position: relative;
  color: #F1F1F1;
}
.portfolio .image-container:hover img {
  -webkit-filter: blur(3px) brightness(0.5);
          filter: blur(3px) brightness(0.5);
}
.portfolio .image-container:hover .portfolio-nav {
  opacity: 1;
}
.portfolio .image-container img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio .portfolio-text {
  padding: 20px;
  margin-top: 20px;
}
.portfolio .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}
.portfolio .portfolio-container * {
  margin-bottom: 20px;
}
.portfolio .portfolio-container h4 {
  border-bottom: solid #1d1d1f 1px;
  line-height: 54px;
}
.portfolio .portfolio-container h3 {
  margin-bottom: 35px;
}
.portfolio .portfolio-container .portfolio-container-bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #484848;
  margin-top: 15px;
}
.portfolio .portfolio-container .portfolio-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
}
.portfolio .portfolio-container .portfolio-nav a {
  color: #F1F1F1;
}

.contact-section {
  background-color: #1d1d1f;
  color: #ccc;
  width: 100%;
}
.contact-section h2 {
  padding-top: 25px;
  border-bottom: #ccc 1px solid;
}
.contact-section .form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  gap: 50px;
}
.contact-section .form-text span {
  font-family: "Medium", sans-serif;
  font-style: normal;
  font-size: clamp(1.25rem, 1.0742rem + 0.9375vw, 2.1875rem);
  color: #ccc;
}
.contact-section .form-text p {
  font-family: "Regular", sans-serif;
  color: #989393;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: clamp(1.125rem, 0.9258rem + 1.0625vw, 2.1875rem);
  line-height: 55px;
  letter-spacing: -0.84px;
}
.contact-section .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-family: "Regular", sans-serif;
}
.contact-section .form input, .contact-section .form textarea, .contact-section .form button {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.contact-section .form button {
  position: relative;
}
.contact-section .form button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
}
.contact-section .form button:hover:before {
  opacity: 1;
}

@media (max-width: 1020px) {
  html {
    margin: 0px;
  }
  header {
    height: auto;
  }
  header .intro-section {
    margin: 100px 15px;
  }
  h1 {
    line-height: 34px;
  }
  .wrapper-portfolio {
    width: 90%;
  }
  .tech-stack-icons {
    text-align: center;
  }
  .portfolio-container-bottom-text p {
    font-size: 12px;
  }
  .contact-section .form-text p {
    margin-bottom: 35px;
    line-height: normal;
  }
  .contact-section .form-text span {
    line-height: normal;
  }
}
@media (max-width: 900px) {
  .contact-section .form-text {
    display: block;
  }
}
@media (max-width: 700px) {
  .social-link {
    position: fixed;
    height: 20vh;
    top: 8vh;
    right: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    z-index: 3;
    background: rgba(131, 128, 128, 0.42);
    border-radius: 16px;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(101, 98, 98, 0.21);
    -webkit-transform: translate(190%);
            transform: translate(190%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  }
  .nav-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  }
  .social-link a {
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    opacity: 0;
  }
  .social-link a {
    color: white;
  }
  .hamburger {
    display: block;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .hamburger .line {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hamburger.toggle .line1 {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
            transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger.toggle .line3 {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
            transform: rotate(-45deg) translate(6px, -6px);
  }
  .hamburger.toggle .line2 {
    opacity: 0;
    height: 2.5px;
  }
  .intro-section .blurry {
    height: 200%;
  }
}
@media (max-width: 973px) {
  .about-img {
    position: relative;
    margin: 0 auto;
    width: 45%;
  }
  .about-text {
    margin-left: 0px;
  }
}
footer {
  background-color: #1d1d1f;
  border-top: solid #989393 1px;
  padding: 25px 20px 20px;
}
footer p {
  font-size: 0.8rem;
  text-align: right;
  color: #ccc;
  line-height: 22px;
  letter-spacing: -0.008px;
}